<p id="notice"><%= notice %></p>

<h1>Merchants</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Picture</th>
      <th>Location</th>
      <th>Views</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @merchants.each do |merchant| %>
      <tr>
        <td><%= merchant.title %></td>
        <td><%= merchant.description %></td>
        <td><%= number_to_currency(merchant.price.to_f/100.0) %></td>
        <td><%= image_tag merchant.image, width:'50'%></td>
        <td><%= merchant.location %></td>
        <td><%= merchant.views %></td>
        <td><%= link_to 'Show', merchant %></td>
        <td><%= link_to 'Edit', edit_merchant_path(merchant) %></td>
        <td><%= link_to 'Destroy', merchant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>





<br>

<%= link_to 'New Merchant', new_merchant_path %>
