<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @merchant.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @merchant.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @merchant.price %>
</p>

<p>
  <strong>Photos:</strong>
  <%= image_tag @merchant.image, width:'250'%>
</p>

<p>
  <strong>Views:</strong>
  <%= @merchant.views %>
</p>



<%= link_to 'Edit', edit_merchant_path(@merchant) %> |
<%= link_to 'Back', merchants_path %>
