<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @merchant.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @merchant.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @merchant.user %>
</p>

<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
  </article>

  <%= hidden_field_tag(:product_id, @product.id) %>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= @product.title %>"
          data-amount="<%= @product.price %>"
          data-currency="AUD"
          data-locale="auto"></script>
<% end %>


<%= link_to 'Edit', edit_merchant_path(@merchant) %> |
<%= link_to 'Back', merchants_path %>
