<div class="main-content-sell-ads">
  <div class="services">
    <p id="notice"><%= notice %></p>
    <h1>Services</h1>
    <h3>Have something you need repaired?</h3>
    <h3>Browse the listings of those who can help.</h3>
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Title</th>
          <th>Description</th>
          <th>Location</th>
          <th>Price</th>
          <th>Views</th>
          <th>Phone</th>
          <th>Image</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @sell_ads.each do |sell_ad| %>
          <tr>
            <td><a href="/profile/<%=sell_ad.user.id%>"><%= sell_ad.user.name %></a></td>
            <td><%= sell_ad.title %></td>
            <td><%= sell_ad.description %></td>
            <td><%= sell_ad.location %></td>
            <td><%= number_to_currency(sell_ad.price/100.0)%></td>
            <td><%= sell_ad.views %></td>
            <td><%= sell_ad.phone %></td>
            <td><%= image_tag sell_ad.image, width:'101' %></td>
            <td><%= link_to 'Show', sell_ad, class: 'btn btn-primary' %></td>
            <td><%= link_to 'Edit', edit_sell_ad_path(sell_ad), class: 'btn btn-primary' %></td>
            <td><%= link_to 'Destroy', sell_ad, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Post a service', new_sell_ad_path, class: 'button header' %>
  </div> <!-- END services -->
</div> <!-- END main-content-sell-ads -->

