<div class="main-content-buy-ads">
  <div class="requests">
    <h1> Bids for <%= @buy_ad.title %></h1>


    <% if @number_of_bids > 0 %>
<table id="bidstable" class="display">
  <thead>
    <th> User </th>
    <th> Message </th>
    <th> Price </th>
    <th> Action </th>
  </thead>
  <tbody>
    <% @bids.each do |bid| %>
    <% user = User.find(bid.user_id) %>
    <tr>
      <td><a href="/profile/<%=user.id%>"><%= user.name %></a> </td>
      <td><%=bid.message %></td>
      <td><%= number_to_currency(bid.price) %></td>
      <td>
        <form method="post" action="/bid/accept">
          <input type="text" name="buy_id" value="<%= @buy_ad.id %>" hidden>
          <input type="text" name="bid_id" value="<%= bid.id %>" hidden>
          <input type="text" name="bid_user_id" value="<%= user.id %>" hidden>
          <button type="submit">Accept Bid</button></a>
        </form>
        <a href="/bid/delete/<%=bid.id%>"><button type="submit">Remove Bid</button></a>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

    <% else %>
    Currently there are no bids!
    <% end %>

    <script>
    $(document).ready(function() {
        $('#bidstable').DataTable( {
            "paging":   false,
        } );
    } );
    </script>
  </div> <!-- END requests -->
</div> <!-- END main-content-buy-ads -->
