<!DOCTYPE html>
<html>
  <head>
    <title>The Repair This Marketplace</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="page-wrap">

  <header>

    <nav>
        
        <li>
          <%= link_to 'Services', sell_ads_path %>
        </li>
        <li>
          <%= link_to 'Requests', buy_ads_path %>
        </li>
          <% if user_signed_in? %>
        <li>
          <%= link_to 'Profile', '/profile' %>
        </li>
        <li>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        </li>
        <% else %>
        <li>
          <%= link_to 'Login', new_user_session_path %>
        </li>
        <li>
          <%= link_to 'Register', new_user_registration_path %>
        </li>
          <% end %>
        </li>
    </nav>

    <div class="search-form">
      <a href="/">RepairThis</a>
      <form action="/search">
        <input type="text" name="q" placeholder="">
      </form>
    </div> <!-- END search-form -->

    <div class="become-a-seller">
      <a href="/sell_ads" class="button header">Become a Seller</a>
    </div> <!-- END become-a-seller -->  

    <div class="logo">
      <a href="/"><img src="/assets/repair_this_logo.png" alt="The repair this logo"></a>
    </div> <!-- END logo -->

  </header>

      <%= yield %>

  <footer>
  
    <nav>
    <h3>Repair This</h3>      
      <li>
        <%= link_to 'Services', sell_ads_path %>
      </li>
      <li>
        <%= link_to 'Requests', buy_ads_path %>
      </li>
        <% if user_signed_in? %>
      <li>
        <%= link_to 'Profile', '/profile' %>
      </li>
      <li>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      </li>
      <% else %>
      <li>
        <%= link_to 'Login', new_user_session_path %>
      </li>
      <li>
        <%= link_to 'Register', new_user_registration_path %>
      </li>
        <% end %>
      </li>
    </nav>

    <div class="social-media-icons">
      <img src="/assets/social-media-icons.svg" alt="social-media-icons">
    </div> <!-- END social-media-icons -->
  </footer>

  </div> <!-- END page-wrap -->

  </body>
  
  
</html>
