<!DOCTYPE html>
<html>
  <head>
    <title>Marketplace</title>
    <%= stylesheet_link_tag  "application" %>
    <%= javascript_include_tag  "application" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="page-wrap">

  <header>

    <nav>
        <li>
          <a href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li>
          <%= link_to 'Services', sell_ads_path %>
        </li>
        <li>
          <%= link_to 'Requests', buy_ads_path %>
        </li>
          <% if user_signed_in? %>
        <li>
          <%= link_to 'Profile', '/profile' %>
        </li>
        <li>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Login', new_user_session_path %>
        </li>
        <li>
          <%= link_to 'Register', new_user_registration_path %>
        </li>
          <% end %>
        </li>
    </nav>

    <div class="search-form">
      <a href="/" style="color:#343a40!important">RepairThis</a>
      <form action="/search">
        <input type="text" name="q" placeholder="">
      </form>
    </div> <!-- END search-form -->

    <div class="become-a-seller">
      <button>Become a Seller</button>
    </div> <!-- END become-a-seller -->  

    <div class="logo">
      <a href="/"><img src="assets/repair_this_logo.png" alt=""></a>
    </div> <!-- END logo -->

  </header>

  <div class="main-content">

    <div class="container">
      <% if user_signed_in? %>
      Welcome <%= current_user.name %>!
      <% end %>
      <%= yield %>
    </div> <!-- END container -->

  </div> <!-- END main-content -->
    

  <footer>
    <h2>This is a footer</h2>
  </footer>

  </div> <!-- END page-wrap -->

  </body>
</html>
